@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Viga&display=swap");

body {
  background-image: url(gambar/flat-background-hd.jpg);
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar .container .navbar-title .title-nav {
  float: left;
  padding-top: 25px;
  padding-left: 70px;
  font-family: "Heebo";
  font-size: 25px;
  letter-spacing: 3px;
  font-weight: bold;
}

.navbar .container .nav-link ul {
  float: right;
  padding: 27px;
  padding-right: 70px;
}

.navbar .container .nav-link ul li {
  list-style: none;
  display: inline;
}

.navbar .container .nav-link ul li a {
  text-decoration: none;
  padding: 14px 10px;
}

/* ===== clearfix CSS ===== */
.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

/**
  * For IE 6/7 only
  * Include this rule to trigger hasLayout and contain floats.
  */
.cf {
  *zoom: 1;
}

.navbar .container .content p {
  padding: 140px 70px;
  font-size: 50px;
  letter-spacing: 2px;
  font-family: "Viga";
  font-weight: normal;
  text-align: center;
}

.navbar .container .content span {
  font-weight: bold;
}

.navbar .container .content button {
  text-align: center;
  font-family: "Viga";
  letter-spacing: 2px;
  font-size: 16px;
  white-space: nowrap;
  border-radius: 10px;
  border: 2px solid rgb(255, 255, 255);
  color: white;
  background-color: transparent;
  display: block;
  padding: 10px;
  margin: -6rem auto;
  transition: all 1s;
}

.navbar .container .nav-link ul li a:hover {
  transform: scale(1.1);
}

.navbar .container .content button:hover {
  background: rgb(255, 255, 255);
  color: black;
  transform: scale(1.1);
}
